.row style="text-align: center; padding-top: 20px;"
  p Software maintained by <a href="https://gaiasystemsinc.com/">Gaia Systems Inc.</a>. Code available under an open-source license <a href="https://github.com/drewda/virtual-ambler">at Github</a>.
