.row style="text-align: center; padding-top: 20px;"
  p Software maintained by <a href="https://gaiasystemsinc.com/">Gaia Systems Inc.</a>. Code available under an open-source license <a href="https://bitbucket.org/ab320012/silcton/src">at Bitbucket</a>.
