<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    <title>SpatialAbility.org</title>

    <link href="/stylesheets/blueprint/screen.css" media="screen, projection" rel="stylesheet" type="text/css" />
    <link href="/stylesheets/blueprint/print.css" media="print" rel="stylesheet" type="text/css" />
    <!--[if lt IE 8]><link rel="stylesheet" href="/stylesheets/blueprint/ie.css" type="text/css" media="screen, projection"/><![endif]-->
    <link href="/stylesheets/blueprint/src/forms.css" media="screen" rel="stylesheet" type="text/css" />
    <link href="/stylesheets/jquery-ui-1.8/lightness/jquery-ui-1.8.2.custom.css" media="screen" rel="stylesheet" type="text/css" />
    <link href="/stylesheets/study.css" media="screen" rel="stylesheet" type="text/css" />

    <script src="/javascripts/jquery.validate.min.js" type="text/javascript"></script>
    <script src="/javascripts/jquery.metadata.js" type="text/javascript"></script>
    <script src="/javascripts/study.js" type="text/javascript"></script>
    <%= yield(:head) or yield %>
  </head>
  <body>
  <div class="container">
    <% if flash -%>
    <div id="flashBar" class="span-24 last">
      <% if flash[:message] -%>
      <p class="success">
        <%= flash[:message] %>
      </p>
      <% end -%>
      <% if flash[:error] -%>
      <p class="error">
        <%= flash[:error] %>
      </p>
      <% end -%>
    </div>
    <% end -%>
    <%= yield(:content) or yield %>
  </div>
  </div>
</body>
</html>
